.subscribe-form {
    /* max-width: 500px; */
    width: 100%;
    margin-bottom: 0px;
}

.form-cont {
    display: flex;
    justify-content: flex-start;
}

.subc-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subc-form p {
    margin: 10px;
}

.subc-input {
    /* flex-grow: 1;
    flex-shrink: 1; */
    margin-bottom: 0;
    box-sizing: border-box;
    margin-right: .75rem;
}

.subscribe-input {
    background-color: #fff;
    border-color: #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
    max-width: 100%;
    width: 100%;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding: calc(.375em - 1px) calc(.625em - 1px);
    position: relative;
    vertical-align: top;
}

.subc-button {
    /* flex-shrink: 0; */
    box-sizing: border-box;
    clear: both;
    font-size: 1rem;
    position: relative;
    text-align: left;
}

.subscribe-button {
    background-color: #96ba44;
    border-color: transparent;
    color: #f6f9fc;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding: calc(.375em - 1px) .75em;
    text-align: center;
    white-space: nowrap;
    position: relative;
    vertical-align: top;
    line-height: 1.5;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    /* display: inline-flex; */
    font-size: 1rem;
    height: 2.25em;
}

@media screen and (max-width: 480px) {
    .subc-form {
        margin-bottom: -40px;
    }
    .subc-form p {
        margin: 3px;
    }
}