.volunteer_title {
  display: flex;
}

.user-pro {
  display: flex;
  /* flex-wrap: wrap; */
}

.user-pro h4 {
  margin: 20px;
  text-align: center;
}

.user-image {
  margin: 30px;
}

.arrow-align {
  margin-left: 550px;
}

.button-align {
  margin-left: 500px;
}

.avatar-size {
  border-radius: 50%;
}

@media (min-width:785px) and (max-width: 1200px) {
  .user-image {
    margin: 20px;
  }
}

@media (max-width: 785px) {
  .button-align {
    margin-left: 270px;
  }
}

@media (max-width: 576px) {
  .user-image {
    margin: 10px;
    /* margin-top: 10px; */
    width: 110px;
    height: 110px;
  }
  .button-align {
    margin: 50px;
    margin-left: 160px;
  }
  .avatar-size {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 400px) {
  .user-image {
    width: 100px;
    height: 100px;
  }
  .button-align {
    margin-left: 125px;
  }
}

@media (max-width: 365px) {
  .user-image {
    width: 80px;
    height: 80px;
  }
  .button-align {
    margin-left: 100px;
  }
}