.profile-container {
    /* box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); */
    /* margin: 25px auto 50px; */
    height: 390px;
    position: relative;
    background-image: url("../../static/image/bg-image1.jpg");
    background-position: right;
    /* width: 975px; */
}

.profile-container h1 {
    font-size: 40px;
    z-index: 5;
}

.profile-banner {
    /* background-image: url("../../static/image/bg-image.jpg"); */
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 100000;
}

.profile-picture {
    background-position: center center;
    background-size: cover;
    border: 5px #efefef solid;
    border-radius: 50%;
    bottom: -35px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2), 1px 1px 4px rgba(0, 0, 0, 0.3);
    height: 175px;
    left: 150px;
    position: absolute;
    width: 175px;
    z-index: 3;
}

.profile-stats {
    top: 350px;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    left: 0;
    height: 191px;
    padding: 15px 15px 15px 350px;
    background-color: white;
    position: absolute;
    right: 0;
    z-index: 2;
    /* Generated Gradient */
    /* background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.51) 3%, rgba(0, 0, 0, 0.75) 61%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(3%, rgba(0, 0, 0, 0.51)), color-stop(61%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.51) 3%, rgba(0, 0, 0, 0.75) 61%, rgba(0, 0, 0, 0.5) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.51) 3%, rgba(0, 0, 0, 0.75) 61%, rgba(0, 0, 0, 0.5) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.51) 3%, rgba(0, 0, 0, 0.75) 61%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.51) 3%, rgba(0, 0, 0, 0.75) 61%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#80000000', GradientType=0); */
}

.profile-stats ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile-stats ul li {
    color: #efefef;
    display: block;
    float: left;
    font-size: 24px;
    font-weight: bold;
    margin-right: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7)
}

.profile-stats li span {
    display: block;
    font-size: 16px;
    font-weight: normal;
}

.profile-stats a.follow {
    display: block;
    float: right;
    color: #ffffff;
    margin-top: 5px;
    text-decoration: none;
    /* This is a copy and paste from Bootstrap */
    background-color: #49afcd;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.profile-stats a.follow.followed {
    /* Once again copied from Boostrap */
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top, #62c462, #51a351);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
    background-image: -webkit-linear-gradient(top, #62c462, #51a351);
    background-image: -o-linear-gradient(top, #62c462, #51a351);
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

@media(max-width:480px) {
    .profile-stats {
        padding: 110px 15px 15px 140px
    }
}

@media(max-width:400px) {
    .profile-picture {
        left: 105px;
    }
    .profile-stats {
        padding: 110px 15px 15px 100px
    }
}

@media (max-width: 365px) {
    .profile-picture {
        left: 90px;
    }
    .profile-stats {
        padding: 110px 15px 15px 85px
    }
}