/**************** banner part css start ****************/

/* line 2, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */

.banner_part {
  position: relative;
  background-image: url(../../static/image/banner_bg.png);
  background-repeat: no-repeat;
  background-size: 65% 100%;
  background-position: left top;
}

@media (max-width: 785px) {
  /* line 2, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part {
    /* background-image: none; */
    background-position: left bottom;
    background-size: 200% 100%;
    /* background-size: 200% 15%; */
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 2, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part {
    /* background-image: none; */
    background-size: 55% 100%;
  }
}

/* line 16, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */

.banner_part .banner_text {
  display: table;
  width: 100%;
  height: 800px;
}

/* line 21, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */

.banner_part .banner_text .banner_text_iner {
  display: table-cell;
  vertical-align: middle;
  padding-top: 200px;
}

@media (max-width: 991px) {
  /* line 21, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part .banner_text .banner_text_iner {
    padding-top: 0px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 21, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part .banner_text .banner_text_iner {
    height: 650px;
    padding-top: 0;
  }
}

@media (max-width: 991px) {
  /* line 16, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part .banner_text {
    height: 650px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 16, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part .banner_text {
    height: 650px;
  }
}

/* line 44, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */

.banner_part .banner_text h1 {
  font-size: 70px;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 70px;
}

@media (max-width: 576px) {
  /* line 44, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 30px;
    margin-bottom: 15px;
    color: white;
    text-align: center;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 44, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 30px;
    margin-bottom: 15px;
    color: white;
    text-align: center;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 44, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    color: white;
    text-align: center;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 44, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part .banner_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}

/* line 75, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */

.banner_part .banner_text h1 span {
  color: #ff4800;
}

/* line 80, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */

.banner_part .banner_text p {
  font-family: "Rajdhani", sans-serif;
  margin-bottom: 42px;
  padding-right: 110px;
}

@media (max-width: 991px) {
  /* line 80, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part .banner_text p {
    padding-right: 0;
    margin-bottom: 10px;
    font-size: 17px;
    text-align: center;
    color: #d0c8c8;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 80, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part .banner_text p {
    padding-right: 0;
    font-size: 17px;
    text-align: center;
    color: #d0c8c8;
  }
}

/* line 96, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */

.banner_part .feature_icon_1 {
  position: absolute;
  right: 10%;
  top: 0%;
  z-index: -1;
}

@media (max-width: 991px) {
  /* line 96, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part .feature_icon_1 {
    display: none;
  }
}

/* line 106, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */

.banner_part .feature_icon_2 {
  position: absolute;
  right: 30%;
  top: 10%;
  z-index: -1;
}

/* line 113, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */

.banner_part .feature_icon_3 {
  position: absolute;
  right: 10%;
  top: 35%;
  z-index: -1;
}

@media (max-width: 991px) {
  /* line 113, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part .feature_icon_3 {
    display: none;
  }
}

/* line 123, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */

.banner_part .feature_icon_4 {
  position: absolute;
  right: 30%;
  top: 45%;
  z-index: -1;
}

/* line 130, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */

.banner_part .feature_icon_5 {
  position: absolute;
  right: 15%;
  bottom: 20%;
  z-index: -1;
}

/* line 137, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */

.banner_part .feature_icon_6 {
  position: absolute;
  right: 50%;
  bottom: 5%;
  z-index: -1;
}

@media (max-width: 991px) {
  /* line 137, ../../01 cl html template/03_jun 2019/185 Ecobit SAAS html/sass/_banner.scss */
  .banner_part .feature_icon_6 {
    display: none;
    bottom: 0%;
  }
}

@media (max-width: 785px) {
  .btn-align {
    margin-left: 230px;
  }
}

@media (max-width: 576px) {
  .btn-align {
    margin-left: 100px;
  }
}

@media (max-width: 400px) {
  .btn-align {
    margin-left: 50px;
  }
}