.dropbtn{
    cursor: pointer;
    display: inline;
}
.servicesMobile{
    display: none;
}
@media (max-width: 960px){
    .dropbtn{
        margin-bottom: 0 !important;
    }
    .dropdownContent{
        display: none;
    }
    .servicesMobile{
        display: block;
        margin-top: 1.5rem !important;
    }
    .servicesMobile a{
        font-size: medium;
       
    }
    .servicesMobile ul{
        margin-top: -1rem !important;
        list-style-type: none !important;
    }
}
.dropdownContent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 1rem;
}
.dropdownContent a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin-right: 0 !important;
}
.dropdownContent a:hover{
    background-color: #ddd;
}
.show{
    display: block;
}