.volunteer_title1 {
    text-align: center;
}

.all-user-image {
    margin: 30px;
    align-content: center;
}

@media (max-width: 576px) {
    .all-user-image {
        margin: 40px;
        /* margin-top: 10px; */
        width: 110px;
        height: 110px;
    }
    .user-pro h4 {
        margin: 8px;
    }
}

@media (max-width: 400px) {
    .all-user-image {
        margin: 35px;
        width: 100px;
        height: 100px;
    }
    .user-pro h4 {
        font-size: 14px;
    }
}

@media (max-width: 365px) {
    .all-user-image {
        margin: 30px;
        width: 80px;
        height: 80px;
    }
}