.center_title {
  display: flex;
}

.center-pro {
  display: flex;
}

.center-pro h4 {
  margin: 20px;
  margin-left: 30px;
  text-align: center;
}

.center-image {
  margin: 30px;
  text-align: center;
}

.button-align1 {
  margin-left: 500px;
}

.avatar-size1 {
  border-radius: 20%;
}

@media (max-width: 785px) {
  .button-align1 {
    margin-left: 270px;
  }
}

@media (max-width: 576px) {
  .center-image {
    margin: 10px;
    /* margin-top: 10px; */
    width: 110px;
    height: 110px;
  }
  .button-align1 {
    margin: 50px;
    margin-left: 160px;
  }
  .avatar-size1 {
    max-width: 100%;
    max-height: 100%;
  }
  .center-pro h4 {
    font-size: 14px;
    margin: 10px;
  }
}

@media (max-width: 400px) {
  .center-image {
    width: 100px;
    height: 100px;
  }
  .button-align1 {
    margin-left: 125px;
  }
}

@media (max-width: 365px) {
  .center-image {
    width: 80px;
    height: 80px;
  }
  .button-align1 {
    margin-left: 100px;
  }
}