.form-container {
  margin-top: 500px;
  width: 900px;
  background: #fff;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}

@media screen and (min-width: 1024px) {
  .form-container {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1200px) {
  .form-container {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .btn-align1 {
    margin-left: 100px;
  }
}
